.App {
  text-align: center;
}


.App-header {
  font-family: 'Facebook Letter Faces', sans-serif;
  color: #316FF6;
  border-bottom: 1px solid black;
  font-size: 150%;
  margin-top: -10px;
  padding-bottom: -40px;
  letter-spacing: 5px;
  word-spacing: -5px;

  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

.Blok {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

h2 {
  text-align: start;
  font-family: 'Facebook Letter Faces', sans-serif;
  color: #316FF6;
  margin-left: 3%;
  font-size: 150%;
  padding-bottom: -40px;
  letter-spacing: 5px;
  word-spacing: -5px;

  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}